# Identifiants xAI (Grok)
XAI_API_KEY=your_xai_api_key_here

# Identifiants X.com (Twitter API v2)
# Vous devez créer une app sur le portail développeur X (developer.x.com)
X_API_KEY=your_api_key_here
X_API_SECRET=your_api_secret_here
X_ACCESS_TOKEN=your_access_token_here
X_ACCESS_TOKEN_SECRET=your_access_token_secret_here
